body{
    background-image: url("imagens/jogging.png");
    background-size: 100%;
           }
h1 {
    font: normal 30pt arial;
    color: white;
    text-align: center;
}

div.dados{
    background: white;
    width: 300px;
    height: 150px;
    text-align: center;
    border-radius: 30px;
    box-shadow: gray 10px 10px 10px;
    font: larger 10pt;
    line-height: 40px;
                
}

figure{
    border: 10px solid white;
    border-radius: 20px;
    box-shadow: gray 20px 20px 50px;
    position: absolute;              
}

figure img {
    width: 100%;
    height: 100%;
    size: 100px;
    border: 30px solid white;    
}

figure figcaption {
    position: absolute;
    top: 0px;
    color: white;
    background-color: rgba(200, 200, 0, 0.4);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 2s;
        
}

figure:hover figcaption{
    opacity: 1;
}